.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  -webkit-animation: meals-appear 1s ease-out forwards;
  animation: meals-appear 1s ease-out forwards;
}

.mealsLoading {
  text-align: center;
  color: white;
}

.mealsError {
  text-align: center;
  color: red;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}