.user-list-flex {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 40rem;
    background-color: #dda15e;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px dashed darkgrey;
    color: #fefae0;
    list-style: none;
    transition: all 0.2s;
}
